<form action="/createinvoices" method="POST" type="application/x-form-urlencoded">
 
    amount: <input type="text" name="amount"/>
    description: <input type="text" name="description"/>
    from: <input type="text" name="from"/>

    <input type="submit" value="createinvoices"/>    

    
  
</form>
