<!Doctype html>
<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

        <style>
        
        </style>
    </head>
    <body>
        <h2>creating transfers</h2>
        <form action="/createtransfer" method="POST"  type="application/x-form-urlencoded">
            amount:<input type="text" name="amount">
            description:<input type="text" name="descrition">
            to:<input type="text" name="to">

            <input type="submit" value="creat">
            
        </form>
    </body>
</html>