<html>
    <head>

    </head>
    <body>
            <div>
                    <form action="/login" method="POST" type="application/x-form-urlencoded">
 
                        Username: <input type="text" name="username"/>
                        Password: <input type="password" name="password"/>
                        <input type="submit" value="Login"/>    
                      
                    </form>
            </div>
    </body>
</html>
