
<html>
<head>
    <style>
        .transfers{
            display: block;
        }
    </style>
</head>

<div class="transfers">
    <%data.forEach((element)=>{%>
        <%Object.keys(element).forEach(key=>{%>
            <div class="block"><%=key%> : <%=element[key]%></div>
        <% })%>
        <br><br>

    <%})%>
</div>

</html>