<html>
    <head>
        <title>home</title>
        <style>
            .div{
                display: block;
            }
        </style>
    </head>
    <body>
            <div class="div">
                    <%- include menu.ejs %>
                    <h1>Welcome</h1>
        
            </div>
        
    </body>
    

</html>